html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'Anton', sans-serif;/* this should be the rest of the output you got from Google fonts */ 
    background-color: #FF9500;
}
  body {
    width: 900px;
    margin: 0 auto;
    padding: 120px 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0 auto;
    font-size: 30px;
    padding: 30px 0;    
    text-align: center;
  }
  button#start {
    padding: 17px 100px;
    border-radius: 25px;
    color: #FFF;
    background-color: #0E001B;
  }
  /*カーソルを合わせると発動*/
  button#start:hover{
    opacity: 0.8;
  }
  .inner{
    font-size: 80px;
    text-align: center;
    top: 150px;
    padding: 110px 20px 150px 20px;
  }